/*____________________VARIABLES____________________*/
:root {
    --primary-color: #FFaa01;
    --bg-color: #121212;
    --font-color-lift: rgba(255,255,255,0.5);
}

/*____________________Navbar____________________*/
.navbar nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    transform: 2s;
}

.navbar nav li {
    padding: 0 30px;
}

.navbar nav li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.navbar .nav-ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.navbar .nav ul li a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
}

.btnMenu {
    display: none;
    padding: 10px 30px;
    font-size: 30px;
    transition: 0.6s;
}

.btnMenu:hover {
    transform: scale(0.9);
}

/*____________________Show My Self____________________*/
.mySelf {
    height: 450px;
    position: relative;
}

.mySelf::before,
.mySelf::after {
    content: '';
    position: absolute;
    height: 50px;
    bottom: -70px;
    right: 0;
    left: 0;
    margin: 0 100px;
    transform: skew(-120deg);
    border-radius: 100px;
    background-color: var(--primary-color);
}

.mySelf h4 {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5);
    text-align: left;
    font-weight: 300;
}

.mySelf p{
    font-size: 70px;
    font-weight: bold;
    color: #fff;
}

.mySelf h6 {
    color: var(--font-color-lift);
}

.mySelf img {
    z-index: 100;
}

.mySelf .grid {
    overflow: visible;
    min-height: 350px;
}

/*____________________About Me____________________*/
.aboutMe {
    padding-top: 100px;
}

.aboutMe h2 {
    color: #fff;
}

.aboutMe p {
    color: var(--font-color-lift);
    font-size: 20px;
    padding: 20px 40px 80px 40px;
}

.aboutMe .grid {
    grid-template-columns: 1fr;
}
.aboutMe::after {
    content: '';
    position: absolute;
    height: 60px;
    bottom: auto;
    right: 0;
    left: 0;
    margin: 0 100px;
    transform: skew(120deg);
    border-radius: 100px;
    background-color: var(--primary-color);
}

/*____________________Hobby____________________*/
.hobby {
    padding-top: 100px;
}

.hobby .grid h2 {
    color: #fff;
}

.hobby .grid h4 {
    font-size: 20px;
}

.hobby .grid i {
    color: var(--primary-color);
    font-size: 40px;
}

.hobby .grid > *:first-child {
    grid-column: 1 / span 2;
}

.hobby .card {
    min-height: 250px;
    min-width: 200px;
}

.hobby .grid {
    grid-template-columns: loop(1 / 4fr);
}

/*____________________Personal qualities____________________*/
.personal-qual h2 {
    color: #fff;
}

.personal-qual .flex > div:first-child::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: auto;
    right: 0;
    left: 0;
    background-color: var(--primary-color);
}

.personal-qual .flex > div:first-child {
    flex: 1 0 100%;
}

.personal-qual .card {
    transition: transform 0.6s ease-out;
}

.personal-qual .card:hover {
    animation: line linear 0.6s ease-out;
    transform: translateY(-15px);
}

.personal-qual .flex {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

/*____________________Footer____________________*/
.footer {
    background: var(--primary-color);
    color: #000;
}

.footer nav a {
    font-size: 18px;
    color: #000;
    text-decoration: none;
}


.footer .social i {
    font-size: 40px;
    margin: 0 10px;
    color: #000;
}

.footer .social i:hover,
.footer nav a:hover {
    font-weight: bold;
}

.footer .grid {
    text-align: center;
}

/*____________________Media Querys____________________*/
@media (max-width: 1050px) {
    .mySelf .flex h4 {
        text-align: center;
    }
}

/*____________________Tablets & under____________________*/
@media (max-width: 768px) {

    /*____________________Navbar____________________*/
    .navbar .nav-ul {
        display: none;
        flex-direction: column;
        width: 100%;
    }
    
    .navbar .nav-ul.show {
        display: flex;
        margin: 20px;
    }

    .navbar .nav-ul.show li{
        margin: 20px 0;
    }

    .navbar .nav-ul.show li:hover{
        margin: 20px 0;
    }

    .navbar .nav-ul.show li:hover{
        border-radius: 5px;
        background-color: #ffaa018c;
        margin: 20px 0;
    }
    
    .navbar .nav-ul.show a{
        color: #fff;
        text-decoration: none;
        padding: 0;
    }

    .btnMenu {
        display: block;
    }

    /*____________________Show My Self____________________*/
    .mySelf {
        height: 80vh;
    }

    .mySelf .flex p {
        font-size: 40px;
    }

    .mySelf .flex h4 {
        text-align: center;
    }

    .mySelf img {
        justify-self: center;
    }

    /*____________________Hobby____________________*/
    .grid,
    .hobby .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .personal-qual .card {
        width: 50%;
    }

    .hobby .grid > *:first-child {
        grid-column: 1 / span 1;
    }
}