.contact {
    width: auto;
}

.contact h1{
    color: #fff;
    padding-top: 25px;
}

.contact .grid input{
    width: 300px;
    border: none;
    background-color: transparent;
    font-size: 18px;
    outline: none;
    overflow: visible;
}

.flex-end {
    display: flex;
    justify-content: start;
    align-items: end;
}

.btn-copy {
    height: 22px;
    width: 20px;
    border: 0;
    background: transparent;
    outline: none;
    cursor: pointer;
}

.btn-copy i {
    font-size: 21px;
    cursor: pointer;
}

.btn-copy i:hover {
    color: #ffaa01;
}

.coped{
    height: 20px;
    width: 20px;
    border: 0;
    background: transparent;
    outline: none;
}

.coped i{
    font-size: 21px;
    color: #228b22;
}

.contact .card {
    min-width: 400px;
}

.contact .social a {
    color: #eee;
    font-size: 40px;
    margin: 0 20px;
}

.contact .social a:hover {
    color: #ffaa01;
    font-size: 40px;
    margin: 0 20px;
}

.social a:visited,
a:checked,
a:active {
    color: #333;
}

/*____________________Media Querys____________________*/

/*____________________Mobile____________________*/
@media (max-width: 500px) {
    .contact .card {
        min-width: 150px;
    }

    .contact {
    padding: 10px;
    }
}