/*____________________VARIABLES____________________*/
:root {
    --primary-color: #FFaa01;
    --bg-color: #121212;
    --font-color-lift: rgba(255,255,255,0.5);
}
/*____________________Education____________________*/
.edu-page {
    height: auto;
}

.edu-page .card {
    align-self: flex-start;
    min-height: 250px;
    min-width: 300px; 
    text-align: center;
}

.edu-page .flex h1 {
    color: #fff;
}

.edu-page .flex h2,
.practice .grid h2 {
    border-bottom: 2px solid var(--primary-color);
}

.edu-page .flex li,
.practice .grid li {
    border-bottom: 1px solid var(--primary-color);
    margin: 10px 0;
}

.edu-page .flex > *:first-child {
    flex: 1 0 100%;
    text-align: center;
}

.edu-page .flex {
    flex-wrap: wrap;
}

/*____________________Practic____________________*/

.practice .card {
    min-height: 250px;
}

.practice .card a {
    font-weight: bold;
    color: #000;
    text-decoration: none;
}

.practice .grid {
    grid-template-columns: 1fr;
    padding: 0 70px;
}

@media (max-width: 768px) {
    
}
