*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

::selection {
    background-color: #ffaa01;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg-color);
}

img {
    width: 100%;
}

.active {
    border-bottom: 2px solid var(--primary-color);
}

/* Untilities */

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid-1 {
    grid-template-columns: repeat(1, 1fr);
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    background: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.btn-dark {
    color: #333;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/* Text size */
.lead {
    font-size: 20px;
}

.sm {
    font-size: 1rem;
}

.md {
    font-size: 2rem;
}

.lg {
    font-size: 3rem;
}

.xl {
    font-size: 4rem;
}

.text-center {
    text-align: center;
}
/* Padding */

.p1 {
    padding: 1rem;
}
.p2 {
    padding: 1.5rem;
}
.p3 {
    padding: 2rem;
}
.p4 {
    padding: 3rem;
}
.p5 {
    padding: 4rem 0;
}

.py1 {
    padding: 1rem 0;
}
.py2 {
    padding: 1.5rem 0;
}
.py3 {
    padding: 2rem 0;
}
.py4 {
    padding: 3rem 0;
}
.py5 {
    padding: 4rem 0;
}

/* Marrgins */

.m1 {
    margin: 1rem;
}
.m2 {
    margin: 1.5rem;
}
.m3 {
    margin: 2rem;
}
.m4 {
    margin: 3rem;
}
.m5 {
    margin: 4rem 0;
}

.my1 {
    margin: 1rem 0;
}
.my2 {
    margin: 1.5rem 0;
}
.my3 {
    margin: 2rem 0;
}
.my4 {
    margin: 3rem 0;
}
.my5 {
    margin: 4rem 0;
}
